*{
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: mediumvioletred;
    padding:0 30px;
    height: 50px;
    align-items: center;


}

header > button{
    justify-self: end;
}

#page-grid-container{
display:grid;
height: 100vh;
grid-template-rows: 50px 1fr 50px;
}

footer{
    display:grid;
    background-color: mediumvioletred;
    height: 50px;
    align-items: center;
    justify-content: center;

}
nav{
    background-color: #f2d0e0;

}
section{
    background-color:  #f2d0e0;
    ;
}

main{
    display:grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;;
}

nav{
    display:grid;
    grid-template-rows: repeat(4,auto) 1fr;

}nav>div{
    padding: 10px;
    display:grid;
    grid-template-columns: 30px 1fr 20px;
    
    
}

nav>div>img{
    width: 15px;
    
}

nav>div>span{
    font-weight: 600;
    font-size: 1.0rem;
    vertical-align: center;
}
 

